<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./style.css" />
        <title>Routing: localhost:3000/</title>
    </head>
    <body>
        <h2>Routing: http://localhost:3000/</h2>
        <h4><a href="http://localhost:3000/">http://localhost:3000/</a></h4>
    </body>
</html>
