<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./style.css" />
        <title>Display Root ...3000/</title>
    </head>
    <body>
        <h2>Auth Routing starts below...</h2>
        <h4><a href="http://localhost:3000/auth">http://localhost:3000/auth</a></h4>
        <h2>Test Reset Form</h2>
        <h4><a href="http://localhost:3000/auth/reset-password">http://localhost:3000/auth/reset-password</a></h4>
    </body>
</html>
