body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 60vh;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(25, 44, 99);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    background-color: rgb(140, 96, 221);
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
