<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        reset password for <%= email %></h1>
        <form action="" method="post">
            <label for="Password">Password</label>
            <input type="Password" name="Password", id="Password">
            <br>
            <label for="password2">password2 password</label>
            <input type="password2" name="password2", id="password2">
<br>
<input type = "submit" value = "reset password"></input>
        </form>
        

</body>
</html>